<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h4>
      <a uk-icon="code"></a> with <a uk-icon="heart"></a> by <a>Technical Team</a>
      &bullet;
      Maintained by <a uk-icon="users"></a> @ SIESGST
    </h4>
    <p>
      The content on this website, is licensed under a
      <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
        License.</a>
    </p>
  </div>
</div>
</body>

</html>