<footer class="uk-section uk-section-default" id="footer">
  <div class="uk-container">
    <h4>
    <span style="line-height: 2.5em;">An Initiative by <a>Technical Team</a><br></span> <a uk-icon="code"></a> with <a uk-icon="heart"></a> by <span class="uk-text-primary">Technical Team</span> &bullet; Maintained by <a uk-icon="users"></a> @ <span class="uk-text-primary">SIESGST</span>
    </h4>
    <p>
      The content on this website, is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a>
    </p>
  </div>
</footer>
</body>

</html>