<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FOSSGST</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/css/uikit.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Manjari|News+Cycle|Open+Sans|Roboto|Open+Sans+Condensed:300|Poiret+One|Raleway|Roboto+Condensed&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/style.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit-icons.min.js"></script>

</head>

<body>
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">

    <nav class="uk-background-default uk-box-shadow-small uk-visible@s" uk-navbar
      style="position: relative; z-index: 980;">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a class="uk-logo" href="#">LOGO</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="#">About</a></li>
          <li>
            <a href="#">Events</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#">Projects</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/google/signin">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>

    <nav class="uk-background-default uk-box-shadow-small uk-hidden@s" uk-navbar
      style="position: relative; z-index: 980;">
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a class="uk-logo" href="#">LOGO</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><button class="uk-button uk-button-large uk-margin-small-right uk-hidden@s" type="button"
              uk-toggle="target: #offcanvas-nav-primary" uk-icon="menu"></button>
        </ul>
      </div>
    </nav>

    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
      <div class="uk-background-default uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
          <li class="uk-active"><a href="#" class="custom-dark">LOGO</a></li>
          <li><a href="#" class="custom-dark">Parent</a></li>
          <li><a href="#" class="custom-dark">Events</a></li>
          <li><a href="#" class="custom-dark">Projects</a></li>
          <li><a href="#" class="custom-dark">Login</a></li>
          <li><a href="#" class="custom-dark">Register</a></li>
        </ul>
      </div>
    </div>

  </div>
