<%- include('./layout/home_header'); -%>

<main>
  <div class="uk-section uk-section-default" id="events">
    <div class="uk-container">
      <h1 class="uk-text-center"><span class="uk-heading-large">Community</span></h1>

      <br><br><br>
      <div uk-grid class="uk-flex uk-flex-center uk-text-justify">
        <div class="uk-width-3-4@m">
          <h3><small>
            We welcome you all to the community. This community is solely focused on promoting the values of
            open-source, and helping each other in achieving greater! When it comes to an open community, there are an
            firm set of rules that we have to adhere to, here we go:<br>

            <ul>
              <li>Be positive, kind, and courteous. Feel free to provide feedback and keep it constructive.
              <li>Off-topic conversations will not be tolerated in the group.
              <li>When asking a problem, please share the ways you tried to solve it. Prior research must be done, which will
                increase chances of others providing their opinions.
              <li>No 3rd party promotion should be done.
              <li>Do not encourage rude behaviour / spam / abusive language.
              <li>Any decision taken by the moderation team regarding any group-related issue will be final.
            </ul>

            Any member found violating these rules will be immediately removed from the community group. If you face any issue,
            please reach out to the moderators for resolution. Moderators are the admins of this group. <br><br>

            That’s it folks! Enjoy your stay in the community, and always keep in mind the 3 core values.
          </small></h3>
          <h1><center>Give. Learn. Grow.</center></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-primary">
    <div class="uk-container">
      <h1 class="uk-heading-2xlarge font-kenyan">You +<br> OpenSource</h1>
      <h1 class="uk-heading-small font-mono">OpenSource is built by people like you, hackers, thinkers, doers. You make
        this world Open.</h1>
    </div>
  </div>
</main>

<%- include('./layout/home_footer'); -%>
