<%- include('./layout/home_header'); -%>

<main>
  <div class="uk-section uk-section-default" id="events">
    <div class="uk-container">
      <h1 class="uk-text-center"><span class="uk-heading-large">Philosophy</span></h1>

      <br id="give"><br><br>
      <div uk-grid class="uk-flex uk-flex-center uk-text-justify">
        <div class="uk-width-3-4@m">
          <h1 class="uk-heading-line uk-text-center"><span class="uk-heading-medium uk-text-center">Give</span></h1>
          <h2><center>Give back knowledge, in any form, big or small</center>
            <h3><small>
              Yeah you've learned quite a lot and got it applied in various scenarios. But what's the use of the
              experience gained when you don't?<br><br>
              Remember, that polished and rigid ideas are formed by pitching them to the intended audience. Bigger the
              audience, the more widely accepted your idea will be.
            </small></h3>
          </h2>

          <br id="learn">
          <h1 class="uk-heading-line uk-text-center"><span class="uk-heading-medium uk-text-center">Learn</span></h1>
          <h3>
            <center>Learn anything and everything that interests you out there</center><br>
            <small>
              There's a fine line of divide between knowledge and experience. You get to obtain the knowledge in your
              academics, but that's not where it stops. You need to explore its applications in real-world scenarios,
              and
              constantly update your knowledge base.<br><br>
              The more you question your knowledge, be it asking doubts from your faculty or colleagues, developing a
              hobby
              project, or interning in a company, the more relevant it would be for bigger, complex scenarios.
            </small>
          </h3>

          <br id="grow">
          <h1 class="uk-heading-line uk-text-center"><span class="uk-heading-medium uk-text-center">Grow</span></h1>
          <h3>
            <center>Grow as an individual, as a community, together</center><br>
            <small></small>
          </h3>

        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-primary">
    <div class="uk-container">
      <h1 class="uk-heading-2xlarge font-kenyan">You +<br> OpenSource</h1>
      <h1 class="uk-heading-small font-mono">OpenSource is built by people like you, hackers, thinkers, doers. You make
        this world Open.</h1>
    </div>
  </div>
</main>

<%- include('./layout/home_footer'); -%>