<%- include('./layout/home_header'); -%>

<main>
  <div class="uk-section uk-section-primary" uk-height-viewport="offset-top: true">
    <div class="uk-container">
      <h1>
        <span class="uk-heading-2xlarge font-primary">FOSSGST</span><br><br>
        <span>Be a part of SIESGST's ever-growing association with open source!</span>
      </h1>

      <div class="uk-margin">
        <div class="uk-position-medium uk-position-bottom-center uk-overlay uk-tile-default">
          <h3><a href="#" style="color: #222 !important;">Get Started</a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <h1 class="uk-heading-line uk-text-center">
        <span class="uk-heading-large">Events</span>
      </h1>
      <br><br>

      <div class="uk-grid-small uk-grid-match uk-child-width-1-4@s" uk-grid>
        <div>
          <div class="uk-card uk-card-primary uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; delay: 500">
            <h2>XDayOfCode</h2>
            <p>Code. Code. Code.</p>
            <p><a>Learn More...</a></p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-secondary uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; delay: 500">
            <h2>Projects</h2>
            <p>Start small, build big, learn more!</p>
            <p><a>Learn More...</a></p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-body uk-light" style="background-image: url('/assets/images/hacktoberfest.png');"
            uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest&trade;</h2>
            <p>Hack all October</p>
            <p><a>Learn More...</a></p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-body uk-dark custom-muted" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>The Leaderboard</h2>
            <p>The more you give, the more you win!</p>
            <p><a>Learn More...</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <h1 class="uk-heading-line uk-text-center">
        <span class="uk-heading-large">Projects</span>
      </h1>
      <br><br>

      <div class="uk-grid-medium uk-grid-match uk-child-width-1-2@s" uk-grid>
        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uikit-muted-darker uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Hacktoberfest</h2>
            <p>Hack all October</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>More To Go</h2>
            <a>View all projects <span uk-icon="icon: arrow-right"></span></a>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-fade; delay: 500">
            <h2>Your Project Here</h2>
            <a>Get Started <span uk-icon="icon: arrow-right"></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div class="uk-section "></div>
      <div class="uk-grid-divider uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-card-large uk-card-body">
            <div class="uk-heading-large"><a class="no-decor">Give</a></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-large uk-card-body">
            <div class="uk-heading-large"><a class="no-decor">Learn</a></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-large uk-card-body">
            <div class="uk-heading-large"><a class="no-decor">Grow</a></div>
          </div>
        </div>
      </div>
      <div class="uk-section "></div>
    </div>
  </div>

  <div class="uk-section uk-section-primary">
    <div class="uk-container">
      <h1 class="uk-heading-2xlarge font-kenyan">You +<br> OpenSource</h1>
      <h1 class="uk-heading-small font-roboto">OpenSource is built by people like you, hackers, thinkers, doers. You make this world Open.</h1>
    </div>
  </div>
</main>

<%- include('./layout/home_footer'); -%>
