<%- include('../layout/home_header'); -%>

<main>
  <div class="uk-section uk-section-default">
    <div class="uk-container uk-text-center">
        <h1 class="uk-heading-medium">Register</h1>
        <h3>
          We don't require a seperate registration<br>
          If you are registered on <a href="https://portal.siesgst.ac.in" target="_blank">SIESGST Portal</a>, you can simply <a href="/google/signin">login</a> to continue!
        </h3>
        <h2>Or <a href="https://portal.siesgst.ac.in/register" target="_blank">Register</a> on SIESGST Portal</a></h2>
    </div>
  </div>

</main>

<%- include('../layout/home_footer'); -%>
