<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FOSSGST</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/css/uikit.min.css" />
  <link rel="stylesheet" href="/assets/stylesheets/style.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit-icons.min.js"></script>
</head>

<body>

  <main>

    <div class="uk-section uk-section-default" uk-height-viewport="offset-top: true">
      <div class="uk-container">
        <h1 class="uk-text-center"><span>Terms of Services</span></h1>
        <h4>Before you continue to use our (FOSSGST) service, you must accept our Terms of Services</h4>
        <p class="uk-text-justify">
          <h1>Privacy Policy for FOSSGST</h1>

          <p>At FOSSGST, accessible from foss.siesgst.ac.in, one of our main priorities is the privacy of our visitors.
            This Privacy Policy document contains types of information that is collected and recorded by FOSSGST and how
            we use it.</p>

          <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to
            contact us through email at council_tech@siesgst.ac.in</p>

          <h2>Log Files</h2>

          <p>FOSSGST follows a standard procedure of using log files. These files log visitors when they visit websites.
            All hosting companies do this and a part of hosting services' analytics. The information collected by log
            files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time
            stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that
            is personally identifiable. The purpose of the information is for analyzing trends, administering the site,
            tracking users' movement on the website, and gathering demographic information.</p>

          <h2>Cookies and Web Beacons</h2>

          <p>Like any other website, FOSSGST uses 'cookies'. These cookies are used to store information including
            visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is
            used to optimize the users' experience by customizing our web page content based on visitors' browser type
            and/or other information.</p>

          <h2>Privacy Policies</h2>

          <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are
            used in their respective advertisements and links that appear on FOSSGST, which are sent directly to users'
            browser. They automatically receive your IP address when this occurs. These technologies are used to measure
            the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see
            on websites that you visit.</p>

          <p>Note that FOSSGST has no access to or control over these cookies that are used by third-party advertisers.
          </p>

          <h2>Third Party Privacy Policies</h2>

          <p>FOSSGST's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to
            consult the respective Privacy Policies of these third-party ad servers for more detailed information. It
            may include their practices and instructions about how to opt-out of certain options. You may find a
            complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>

          <p>You can choose to disable cookies through your individual browser options. To know more detailed
            information about cookie management with specific web browsers, it can be found at the browsers' respective
            websites. What Are Cookies?</p>

          <h2>Children's Information</h2>

          <p>Another part of our priority is adding protection for children while using the internet. We encourage
            parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

          <p>FOSSGST does not knowingly collect any Personal Identifiable Information from children under the age of 13.
            If you think that your child provided this kind of information on our website, we strongly encourage you to
            contact us immediately and we will do our best efforts to promptly remove such information from our records.
          </p>

          <h2>Online Privacy Policy Only</h2>

          <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards to the information that they shared and/or collect in FOSSGST. This policy is not applicable to any
            information collected offline or via channels other than this website.</p>

          <h2>Consent</h2>

          <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
        </p>

        <br><br>

        <% if (req.session.loggedIn) { %>
        <div class="uk-clearfix">
          <div class="uk-float-left">
            <a class="uk-button uk-button-danger" href="/signout">No, I dont accept</a>
          </div>
          <div class="uk-float-right">
            <a class="uk-button uk-button-primary" href="/tos/accept">Yes, I accept</a>
          </div>
        </div>
        <% } %>

      </div>
    </div>

  </main>

  <%- include('../layout/home_footer'); -%>