<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FOSSGST</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/css/uikit.min.css" />
  <link rel="stylesheet" href="/assets/stylesheets/style.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.8/js/uikit-icons.min.js"></script>
</head>

<body>

  <main>

    <div class="uk-section uk-section-default" uk-height-viewport="offset-top: true">
      <div class="uk-container">
        <h1 class="uk-text-center"><span>Terms of Services</span></h1>
        <h4>Before you continue to use our (FOSSGST) service, you must accept our Terms of Services</h4>
        <p class="uk-text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil minus quam consequatur reprehenderit
          exercitationem labore voluptate tempore ducimus, assumenda nulla perferendis quisquam? Quasi blanditiis minima
          tempora corrupti amet dignissimos sint nobis maiores libero vel reiciendis eius ipsam aut harum commodi in
          voluptate tempore deleniti quibusdam, cupiditate ex nemo! Tempora ea, provident est vel quasi nulla dolorem a
          repellendus. Laborum omnis libero, obcaecati voluptatibus cumque dolores architecto necessitatibus? Repellat
          error omnis iusto distinctio nam, repellendus, tenetur id, laudantium exercitationem est nesciunt iure
          molestias
          pariatur quod. Sit vero quae aliquid corporis doloremque, iste dolorem minima voluptates nulla voluptate
          inventore, sed ipsa accusantium numquam! Quis nesciunt sapiente, magnam sunt vitae recusandae! Fugiat, quo.
          Quis
          laborum harum distinctio deserunt minima, architecto sunt maxime beatae suscipit eos provident quidem vero
          hic,
          facilis rem ut, numquam modi libero dolorem! Sequi mollitia eos inventore facere, rerum suscipit unde vitae
          debitis provident nostrum perspiciatis fugiat modi quae officia magni sapiente saepe voluptas, temporibus
          magnam
          neque repudiandae? Quos, iure. Vel, sint explicabo! Mollitia laboriosam assumenda earum ea quae sit
          dignissimos
          repellat quibusdam quaerat tenetur aperiam saepe veritatis sunt, totam iure ipsum eligendi beatae fugiat
          laborum
          ullam. Amet quae adipisci nisi sed quisquam dignissimos sapiente non nostrum eligendi id magni dolores ducimus
          eaque, voluptatem beatae? Iure consequatur numquam labore culpa, ab soluta expedita laudantium suscipit
          aspernatur quos debitis exercitationem itaque nemo quibusdam voluptatum quas! Adipisci, quas quae eius maxime
          nemo veritatis. Voluptatibus culpa blanditiis incidunt, inventore reiciendis aliquid possimus beatae,
          laudantium
          temporibus nihil, nisi iure! Dicta amet facilis sunt ipsam est voluptate veniam voluptatem atque possimus
          doloremque. Obcaecati facilis suscipit error dolore ab laudantium nulla molestiae assumenda totam incidunt
          perferendis natus, consequatur, fugit unde praesentium dolorum id dolor eligendi placeat earum! Quis
          veritatis,
          accusantium temporibus deleniti velit, impedit esse neque quaerat porro corrupti eveniet nemo aspernatur
          aperiam
          cupiditate optio delectus aut quae perspiciatis, voluptates accusamus similique. Id pariatur impedit
          voluptatum
          unde dolor quas deleniti dignissimos, voluptate repellendus commodi enim? Odio culpa facere accusantium
          repellat
          expedita! Atque qui dolores commodi ex suscipit inventore aliquam eius, placeat veritatis quam quisquam
          ducimus
          id quis consequuntur autem, molestias illo, quibusdam tempore facere similique nam eaque optio. Est unde
          ducimus
          aliquam et dolore eveniet sequi in dicta vero obcaecati harum veniam aut perferendis quidem repellat, nemo
          voluptatum quo illo itaque, odio impedit ipsam fugit deserunt eum. Officia cupiditate quae unde exercitationem
          itaque sit voluptatibus minima natus, atque ullam quam sed adipisci iusto cumque id possimus mollitia suscipit
          odio corrupti magni neque illo impedit. Quas sed obcaecati facilis id, nesciunt minus, illo asperiores officia
          voluptas vel culpa excepturi perferendis minima pariatur labore ut. Itaque error quisquam voluptates corrupti
          voluptatem aliquam asperiores a corporis amet libero doloribus neque, molestias, ab incidunt optio provident
          inventore accusantium soluta alias, harum dolores rem veniam sequi! Tenetur et, quidem ut quisquam obcaecati
          animi. Voluptatum sequi maxime repellendus modi, necessitatibus adipisci aliquam nihil eos autem suscipit
          expedita, pariatur debitis quis dolores deserunt facilis nisi at labore a inventore officia, aperiam ea
          tempora
          consectetur. Quam accusantium laborum vitae quas voluptates libero, cum numquam consectetur asperiores
          doloremque inventore assumenda doloribus eos rem dolores. Natus iure praesentium earum, fugit in cumque
          commodi
          minus quis vel. Corporis suscipit, ducimus neque beatae sed dolorem architecto? Laudantium temporibus non ad
          sit, fugit nulla sequi accusantium fugiat, nesciunt, aut optio sed ipsum fuga. Ut, labore nobis! Similique
          quasi
          dolores aut, modi in tenetur id sunt quas! Nemo sequi autem ea, aspernatur, eaque pariatur dicta quisquam,
          optio
          iusto facere vel veritatis officia deleniti placeat sint illo aut. Cumque veniam quo aliquid, fuga ullam
          inventore et quidem dignissimos suscipit error non dicta sint rem magnam quos earum ut recusandae hic. Nam
          dolores nulla molestias dolorem reiciendis sunt, ut accusantium? Eaque magnam eligendi molestiae vero
          architecto
          velit, corrupti quibusdam distinctio dicta, totam aliquid culpa. Laboriosam ducimus magnam non iusto quas,
          laudantium, nam iure exercitationem vitae alias quaerat sapiente asperiores impedit soluta ea dolorum
          consequatur earum ab voluptatem dolorem? Impedit qui ab necessitatibus ad, sapiente officia sunt delectus eum
          voluptates enim possimus magnam porro ipsam, dolore quia earum voluptatem aspernatur assumenda molestiae
          explicabo similique velit mollitia. Iste quaerat, asperiores itaque illo laborum tenetur expedita, odit, earum
          non quas quasi suscipit fugit officia. Eos, repellat cumque. Illo ipsam, temporibus consequatur accusantium
          commodi quos odit quod dolore officia quaerat eius qui et exercitationem minima, ab corrupti mollitia, optio
          at?
          Expedita sint fuga assumenda quae quidem magni cum laudantium nisi quia consequuntur, autem vitae debitis
          eveniet sequi molestias facere doloribus aliquid? Culpa amet, corporis, quos, aut eos ipsa ex fugit maiores
          vero
          consectetur molestias omnis officia excepturi libero eligendi laboriosam cupiditate quisquam sequi dolores
          nesciunt vel consequuntur asperiores fugiat? Minima adipisci harum enim nisi quia dicta voluptate, illo
          distinctio pariatur temporibus aspernatur a mollitia quaerat laudantium dolore autem aliquid hic unde
          reiciendis
          aut necessitatibus, porro eos debitis veniam. Nisi exercitationem et at, corporis architecto quibusdam nulla
          similique obcaecati rem in eius possimus atque unde eveniet soluta rerum porro tempora recusandae itaque aut
          quas beatae. Aut, quis doloribus cupiditate officia expedita libero molestias sit? Enim, magni eaque. Qui
          tenetur maxime blanditiis, quo natus vel consequatur eum perspiciatis a dolorem atque expedita omnis eius
          dignissimos commodi saepe error reprehenderit voluptatum perferendis ratione! Labore eligendi cumque expedita
          non adipisci, explicabo voluptatem reprehenderit sunt, illo earum quibusdam rem eos dolor. Minus omnis
          nesciunt
          nostrum atque ducimus sapiente, dolorum autem dolores nam inventore provident adipisci dolorem accusantium eos
          ullam iste dolore quam voluptatem, voluptates commodi, accusamus fugiat a nisi. Mollitia earum qui suscipit,
          quos ad nesciunt numquam harum! Minus, commodi itaque a laboriosam, repellendus velit dolorum ea modi odio
          voluptatem tempora natus quos harum doloremque doloribus inventore sint omnis quo facilis odit architecto ut
          quasi! Molestiae, consequatur, id qui accusamus a culpa corporis possimus quisquam itaque, temporibus ducimus
          illum inventore nemo! Unde, dolorem officia cum hic doloremque explicabo laudantium qui dolore suscipit saepe,
          laboriosam error tempora enim eum omnis corporis cupiditate delectus. Eos ex totam magni quasi animi quos
          voluptatem repudiandae voluptate! Quisquam, consequatur deleniti unde nihil hic culpa esse impedit omnis,
          quod,
          dolorum quasi repudiandae? At dolorum quos blanditiis!
        </p>

        <br><br>

        <div class="uk-clearfix">
          <div class="uk-float-left">
            <a class="uk-button uk-button-danger" href="/signout">No, I dont accept</a>
          </div>
          <div class="uk-float-right">
            <a class="uk-button uk-button-primary" href="/tos/accept">Yes, I accept</a>
          </div>
        </div>

      </div>
    </div>

  </main>

  <%- include('../layout/home_footer'); -%>